body {
    /* background: #2E354F; */
    font-size: 1rem;
    margin: 0;
    font-family: lato;
}

img {
    width: 100%;
}

h1, h2, 
strong {
    font-weight: 900;
}

/* Typography */

h1 {
    /* font-size: 36px; */
    font-size: 3em;
    margin: 0;
}

h2 {
    /* font-size: 24px; */
    font-size: 2rem;
    color: #EF5839;
}

a {
    color: #EF5839;
}

a:hover, a:focus {
    color: #d4b44c;
}
/* to solve nested relativity problem use rem instead em*/
.section-em {
    /* font-size: 1.5em; */
    font-size: 1.5rem;
}

ul {
    /* font-size: 1.5em; */
    font-size: 1.5rem;
}
li {
    /* font-size: 1.5em; */
    font-size: 1.5rem;
}

/* Layout */

header {
    background: #2E354F;
    padding: 45px 0;
    color: #fff;
}

section {
    padding: 45px 0;
}

.container {
    max-width: 620px; /* büyük ekranlarda düzgün gürünmesi icin */
    min-width: 250px; /* ekran kücüldükce sacma sekilde kücülmemesi icin */
    /* width: 620px; responsive yapmak icin fix width yerine relative kullanalim*/
    width: 90%;
    margin: 0 auto;
    border: 2px solid magenta;
}

.section-two {
    background: #2E354F;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
    /* margin-right: 25px; */
}

.btn-accent {
    background: #EF5839;
    color: #fff;
}

.btn-accent:hover, .btn-accent:focus {
    background: #fff;
    color: black;
}

.btn-white {
    background: #fff;
    color: #2E354F;
}
.btn-white:hover, .btn-white:focus {
    background: #EF5839;
    color: #fff;
}