<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intro to Vue 2</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="nav-bar"></div>
    <div id="app">
        <div class="product">
            <div> <a :href="surgedu"><button>Surgedu</button></a></div>
            <div class="product-image">
                <!-- <img v-bind:src="image" v-bind:alt="altText"> -->
                <img :src="image" :alt="altText">
            </div>
            <div class="product-info">
                <!-- <h1>{{brand}} {{product}}</h1> böyle yada -->
                <!-- <h1>{{ brand + ' ' + product}}</h1>  böyle ya da-->
                <h1>{{ title}}</h1> <!-- computed properties le-->
                <!-- <p v-if="inStock">In Stock</p> -->
                <!-- <p v-show="inStock">In Stock</p> DOM da duruyor sadece css de display:none görünüyor. devtools da görülebiliyor-->
                <p v-if="inventory > 10 && inStock">In Stock</p>
                <p v-else-if="inventory<=10 && inventory > 0">Almost sold out!</p>
                <p v-else :style="{ 'text-decoration': 'line-through' }">Out of Stock</p>
                <p v-if="onSale"> {{productOnSale}}</p>

                <ul>
                    <li v-for="detail in details">{{detail}}</li>
                </ul>
                <!-- suna: <div v-for="variant in variants" computed propertiye cevirmek icin index ekleyelim -->  
                <!-- ve surada variantImage yerine index i parametre verelim ==> @mouseover="updateProduct(variant.variantImage)" > -->
                    <div v-for="(variant,index) in variants"  
                    :key="variant.variantId"
                    class="color-box"
                    :style="{ backgroundColor: variant.variantColor}"
                    @mouseover="updateProduct(index)" >
                    <!-- <p>{{variant.variantId + " : " + variant.variantColor}}</p> -->
                    <!-- <p class="variant" @mouseover="updateProduct(variant.variantImage)">{{variant.variantColor}}</p> div icine tasiyip p yi silelim -->
                </div>
                <div v-for="size in sizes">{{size}}</div>
                <!-- <button v-on:click="cart += 1">Add to Cart</button> artirimi addToCart metoduyla yapalim -->
                <button v-on:click="addToCart"
                        :disabled="!inStock"
                        :class="{ disabledButton: !inStock }" >Add to Cart</button>
                <!-- other methods like @click, @mouseover we can use: <form @submit="addToCart">...</form>,
                    <input @keyup.enter="send"> etc...   -->
                <div class="cart">
                    <p>Cart ({{cart}})</p>
                </div>
                <button @click="substructFromCart" :disabled="cart < 1" :class="{ hidden:cart < 1 }">Substruct from Cart</button>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>